<section class="col-md-4 col-sm-8 well">
  <h2 class="text-warning section-title">
    Forgot your password?
  </h2>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f| %>

    <p class="text-center"><strong>We'll send password reset instructions.</strong></p>

    <%= devise_error_messages! %>

    <div class="form-group margin-top-1">
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="action">
      <%= f.submit 'Reset password', :class => 'btn btn-warning btn-block' %>
    </div>
  <% end %>
</section>
