<!DOCTYPE html>
<html>
  <head>
    <title>Mapfre Routing</title>

    <!-- <%= render 'layouts/background' %> -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
      <%= render 'layouts/messages' %>
    </header>
    <main class="container-fluid"  role="main">
      <div class="row">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
